
@mixin fontsize($size: 24) {

font-size: $size + px;

font-size: ($size / 16) * 1rem;

}

menu, p{
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
  
  li{
      list-style: none;
  }
}

//header
header{
  display: flex;
  justify-content: space-between;
  
  .left-box{
    width: 33%;
    display: block;
    content: "";
    clear: both;
  }
  
  .title-box{
    width: 33%;
    text-align: center;
  }
  
  .right-box{
    width: 33%;
    text-align: right;
  }
  
  .header-image{
    width: 32px;
  }
  
}

//menu
menu{
  ul{
    display: flex;
    
    li{
      width: 33%;
      text-align: center;
      
      i{
        @include fontsize(24);
      }
    }
  }
}


.wrapper{
  @media (max-width: 559px){
    margin: 0 16px;
  }
  
  @media (min-width: 560px) and (max-width: 920px){
    margin: 0 56px;
  }
  
  @media(min-width: 921px){
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
  }
}

.contents-wrapper{
  @media(min-width: 560px){
    display: flex;
    flex-wrap: wrap;
  }
}

.contents{
  
  @media(min-width: 1300px){
    width: 18%;
  }
  
  @media(min-width: 921px) and (max-width: 1299px){ 
    width: 29%;
  }

  @media(min-width: 560px) and(max-width: 920px){
    width: 29%;
    
  }
  
  margin: 0 8px 56px;
  
  .icons{
    margin-top: 8px;
    
    span i{
      @include fontsize(28);
    }
    
    .icons-right{
      float: right;
    }
  }
  
  .clearfix::after{
    content: "";
    display: block;
    clear: both;
  }
  
  &__text{
    margin-top: 8px;
    @include fontsize(16);
  }
  
  &__tag-box{
    margin-top: 8px;
    @include fontsize(12);
    
    .tag{
      display: inline-block;
      padding: 8px 24px 8px 16px;
      background-color: #F4F4F4;
      border-radius: 30px;
      
      &__icon{
        margin-right: 8px;
        color: #5C5C5C;
      }
      
      &__text{
        color: #9F9F9F;
      }
    }
  }
}

//user.html
.user-box{
  margin-top: 48px;
  
  .user-box__first-row{
    margin-bottom: 24px;
    
    
    &__username{
      display: inline-block;
      vertical-align: middle;
      @include fontsize(24);
    }
    
    &__cog{
      float: right;
      display: inline-block;
      vertical-align: middle;
      height: 24px;
    }
  }
  
  .clearfix::after{
    content: "";
    display: block;
    clear: both;
  }
  
  .follow-box{
    .follower{
      margin-left: 16px;
    }
  }
  
  .description{
    margin: 32px 0 56px;
  }
  
  @media(min-width: 560px){
    display: flex;
    
    &__image{
      width: 40%;
      
      img{
        width: 100%;
      }
    }
    
    &__lower{
      padding-left: 24px;
      width: 60%;
    }
  }
  
  @media(max-width: 559px){
    &__image{
      width: 288px;
      height: 288px;
      margin: auto;
      
      img{
        height: 100%;
      }
    }
    
    &__lower{
      margin-top: 24px;
    }
  }

}